.participantContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    width: 20%;
    overflow-wrap: anywhere;

    &:last-of-type {
      width: 40%;
    }
  }

  .runeContainer {
    min-width: 340px;
    overflow: auto;
    flex-direction: row;
    column-gap: 5px;
  }
}
