.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 5px;
}

.championContainer {
  max-width: 100px;
}

.loading {
  text-align: center;
}

.iconContainer {
  margin: auto;
}

.name {
  text-align: center;
  padding: 1.5px;
}