@use '/styles/constants';

@mixin basicBorder {
  border: constants.$borderSize solid constants.$borderDarkGray
}

@mixin imageButton {
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}

@mixin basicButton {
  @include basicBorder;
  background-color: constants.$darkGray;
  cursor: pointer;

  &:hover, &:focus {
    background-color: constants.$lightGrey
  }

  &:active {
    background-color: constants.$borderDarkGray;
  }
}